<h1>Add New Todo Item</h1>

<%= form_for @item, url: todo_list_todo_items_path(@todo_list), html: { class: 'form' } do |form| %>
    <fieldset>
        <%= form.label :description %>
        <%= form.text_field :description, class: 'text' %>
        <%= field_errors_for @item, :description %>
        <%= field_hints :todo_item, :description %>
    </fieldset>
    <fieldset class='buttons'>
        <%= form.submit 'Create', class: 'button' %>
    </fieldset>
<% end %>