<h1>Edit <%= @todo_list.title %></h1>

<div>
    <%= button_to 'Delete', todo_list_path(@todo_list), method: :delete%>
</div>

<%= form_for @todo_list do |form | %>
    <fieldset>
        <%= form.label :title %>
        <%= form.text_field :title %>
        <%= field_errors_for @todo_list, :title %>
    </fieldset>
    <fieldset>
        <%= form.submit 'Update' %>
    </fieldset>
<% end %>