<h1>Edit <%= @todo_list.title %></h1>

<%= form_for @todo_list do |form | %>
    <fieldset>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </fieldset>
    <fieldset>
        <%= form.submit 'Update' %>
    </fieldset>
<% end %>