<h1>Write Progress Log</h1>

<%= form_for @progress_log do |form| %>
    <%= form.hidden_field :on_day %>
    <fieldset>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </fieldset>
    <fieldset>
        <%= form.submit 'Save' %>
    </fieldset>
<% end %>