<h1>Edit Aspiration</h1>

<p><%= button_to 'Delete', aspiration_path(@aspiration), method: :delete %></p>

<%= form_for @aspiration do |form| %>
    <fieldset>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </fieldset>
    <fieldset>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </fieldset>
    <fieldset>
        <%= form.submit 'Save' %>
    </fieldset>
<% end %>