<!DOCTYPE html>
<html>
  <head>
    <title>A Todo App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="root">
      <header>
        <div id="align">
          <h1 id="title">
            <a href="/"><span class='first'>Todo</span> <span class='second'>app</span></a>
          </h1>
          <nav>
            <%= navigation_link root_path, :home, "Home" %>
            <%= navigation_link aspirations_path, :aspirations, "Aspirations" %>
            <%= navigation_link todo_lists_path, :todo_lists, "Todo Lists" %>
            <%= navigation_link progress_logs_path, :progress_logs, 'Progress' %>
            <%= navigation_link about_path, :about, "About" %>
          </nav>
        </div>
      </header>
      <main>
        <div id="content">
          <%= yield %>
        </div>
      </main>
      <footer>
        <p>Copyright &copy; 2020 SomeGuy, INC.</p>
      </footer>
    </div>
  </body>
</html>
